@import './colors';

.searchForm {
    padding: 10px;
    background-color: $color1;

    form {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        gap: 5px;
        height: 30px;

        input {
            width: 100%;
        }
    }
}