@import './colors';

.repos {
    display: flex;
    flex-wrap: wrap;
}

.repoItem {
    width: 100%;
    padding: 16px;
    margin: $repoMargin;

    border: 1px solid $repoBorder;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    flex-basis: $repoWidth;
    gap: 16px;
}

.repoLink {
    font-size: 14px;
    font-weight: 600;
    color: $linkColor;
    text-decoration: none;
}

.repoDescription {
    font-size: 12px;
    font-weight: 100;
    color: $text2;
}