@import './colors';


.userInfo {
    max-width: 300px;
    color: $text1;
    margin: 0 4px;

    .userImage {
        max-width: 100%;
        border-radius: 300px;
        margin-bottom: 8px;
    }

    .login {
        color: $text2;
        font-weight: 100;
        font-size: 12pt;
        margin-bottom: 16px;
    }

    .username {
        font-size: 2rem;
        width: fit-content;
    }

    .bio {
        font-size: 12pt;
        margin-bottom: 16px;
    }

    .profileLink {
        text-align: center;
        text-decoration: none;
        color: $text1;
        font-size: 13px;
        font-weight: bold;

        p {
            width: 100%;
            padding: 10px 0;
            background-color: $profileButtonBG;
            border: 1px solid $repoBorder;
            border-radius: 6px;
        }
    }

    .follow {
        color: $text2;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        margin: 16px 0;

        .followIcon {
            font-size: 1rem;
        }

        span {
            color: $text1;
        }


    }

    .location {
        width: 100%;
        font-weight: 600;
        font-size: 14px;

        display: flex;
        align-items: center;
        gap: 8px;

        .locationIcon {
            color: $text2;
            font-size: 1rem;
            text-align: left;
        }
    }

}